/** @format */

.margin-0 {
  margin: 0;
}

/* Margins Top */
.mt-8 {
  margin-top: 8rem;
}

/* Margins right */
.mr-2 {
  margin-right: 2rem;
}

/* Margins lefth */
.ml-2 {
  margin-left: 2rem;
}

/* Margins Bottom */
.mb-0 {
  margin-bottom: 0;
}
.mb-1r {
  margin-bottom: 1rem;
}

.mb-2r {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #ff5757;
  text-transform: uppercase;
}

.mb-3r {
  margin-bottom: 3rem;
}

.mb-4r {
  margin-bottom: 4rem;
}

.mb-5r {
  margin-bottom: 5rem;
}

/* Paddins section */
.p-section {
  padding: 5rem 8%;
}

/* Paddins top */
.pt-10 {
  padding-top: 10rem;
}
/* Paddins right */
.pr-2 {
  padding-right: 2rem;
}
/* Paddins lefth */
.pl-2 {
  padding-left: 2rem;
}
/* Paddins Bottom */
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding: 2rem 0 1rem;
}

.pb-3 {
  padding-bottom: 3rem;
}
