/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #03bcc6;
  --black: #192a56;
  --light-color: #666;
  --background: #eee;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--background);
}

section {
  padding: 2rem 4%;
  min-width: 100vw;
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 3.5rem;
  padding-top: 2rem;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.container {
  display: flex;
  background-color: #fff;
  padding: 2rem 2rem;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 25%);
}

.first-row {
  border-radius: 4px 4px 0 0;
}
/* width 40% con 2 columnas */
.container__imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-right: 1.5rem;
}

.container__img {
  width: 8rem;
  height: 6rem;
  border: 1px solid rgba(0, 0, 0, 0.258);
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

.container__img img {
  width: 100%;
  height: 100%;
}

.container__foto--principal {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}

#img_principal {
  min-width: 60rem;
  height: 45rem;
}

.container__foto--principal img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.container__caracteristicas {
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 25%);
  border-radius: 4px;
}

.container__caracteristicas .descripcion {
  margin-bottom: 2rem;
}

.descripcion span {
  margin-right: 1rem;
}

.container__caracteristicas h2 {
  font-size: 3.5rem;
  color: #03bcc6;
}

.container__caracteristicas h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.container__caracteristicas p {
  font-size: 1.8rem;
  color: #192a56;
}

.second-row {
  background-color: #fff;
  padding: 2rem 2rem;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 25%);
  border-radius: 0 0 4px 4px;
  margin-top: 0.5rem;
}

.second-row__titulo {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.container__caracteristicas--contacto {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.container__caracteristicas--contacto p {
  font-size: 1.8rem;
  color: #192a56;
}

.container__btns {
  margin: 1rem 0;
}

.btn-accion {
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 4rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  background-color: crimson;
  color: #fff;
  border: 1px solid transparent;

  margin: 1rem 0.5rem 1rem 0;
}

.btn-accion:hover {
  background-color: transparent;
  border: 1px solid crimson;
  color: crimson;
  font-weight: 500;
  box-shadow: 0px 0px 20px 0px crimson;
}

.btn-prim {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 2.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid transparent;
}

.btn-prim:hover {
  background-color: var(--green);
  color: white;
  border: 1px solid transparent;
}

/* Break point 1024px */
@media only screen and (max-width: 1024) {
}

/* Break point 768px */
@media only screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  .container {
    flex-direction: column;
  }

  .container__imgs {
    justify-content: space-between;
    flex-flow: wrap;
    margin-right: 0;
  }

  .container__foto--principal {
    margin: 1rem 0;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
  }

  .container__foto--principal img {
    object-fit: contain;
  }

  #img_principal {
    min-width: auto;
    height: 35rem;
  }

  .container__caracteristicas {
    box-shadow: 0 0 1px 0 rgb(0, 0, 0, 25%);
  }

  .container__btns {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .btn-accion {
    margin: 1rem 0;
  }

  /* .second-row {
    margin-top: 0.5rem;
  } */
}

/* Break point 480px */
@media only screen and (max-width: 480px) {
}

/* Break Point 450px - height */
@media only screen and (max-height: 450px) {
}
