/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --logo: #025e63;
  --green: #03bcc6;
  --black: #192a56;
  --orange: #ff8217;
  --light-color: #666666;
  --background: #eeeeee;
  --darkgreen: #02969e;
  --blackgrey: #475578;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--background);
}

header {
  padding: 4rem 4%;
  min-width: 100vw;
}

section,
main {
  padding: 4rem 4%;
  min-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

/* Section Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 1.5rem 2%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 4.8rem;
}

.logo {
  color: var(--logo);
  font-size: 2.8rem;
  font-weight: bolder;
}

/* containers, titulos y subtitulos */
.presentacion {
  margin-top: 8rem;
}

.first-row,
.second-row,
.map {
  max-width: 1300px;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;

  text-transform: uppercase;
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 3.5rem;
}

.titulo {
  font-size: 3.6rem;
  color: var(--black);
}

.sub-titulo {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--darkgreen);
  padding-bottom: 3rem;
  letter-spacing: 1px;
}

.container {
  width: 100%;
  display: inline-flex;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 25%);
}

/* seccion galeria img y distribucion */
.first-row {
  border-radius: 4px;
  margin-bottom: 1rem;
}

.container__imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-right: 1.5rem;
  padding: 2rem 1rem;
}

.container__img {
  position: relative;
  width: 10rem;
  height: 7rem;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
}

.container__img:hover {
  background-color: rgba(1, 75, 79, 0.225);
}

.container__img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.container__foto--principal {
  max-height: 59rem;
  margin: 2rem 1.5rem 0 0;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  overflow: hidden;
}

.container__foto--principal img {
  width: 95%;
  height: auto;
  border-radius: 4px;
}

.container__caracteristicas {
  width: 80%;
  padding: 2rem 1rem;
  border-radius: 4px;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.descripcion__p {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: #192a56;
  color: var(--blackgrey);
}

.descripcion__icon {
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.descripcion__icon img {
  width: 24px;
}

/* botones */
.container__btns {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn-accion,
.btn-prim {
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  padding: 1rem 2.5rem;

  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.btn-accion {
  background-color: var(--orange);
}

.btn-prim {
  background-color: var(--black);
}

.btn-accion:hover {
  background-color: #b35b10;
}

.btn-prim:hover {
  background-color: #5e6a89;
}

/* seccion description  */
.second-row {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 25%);

  border-radius: 4px;
  margin-bottom: 1rem;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0;
  gap: 2rem;
}

.ubicacion p {
  font-size: 1.8rem;
  color: var(--black);
  letter-spacing: 0.75px;
}

.map {
  width: 100%;
  height: 100%;

  padding: 2rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 25%);

  border-radius: 4px;
  overflow: hidden;
}

.map iframe {
  border-radius: 4px;
}

/* Footer */
.footer {
  padding: 6rem 6% 2rem;
  background-color: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  margin: 5rem 0;
}

.container__box h2 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.container__box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: var(--light-color);
  text-decoration: none;
}

.container__box a:hover {
  color: var(--darkgreen);
}

.copyright {
  width: 100%;
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.copyright a {
  color: var(--green);
  font-size: 2.4rem;
}

/* medias querys */
/* Break point 1024px */
@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .container__imgs {
    justify-content: start;
    flex-flow: wrap;
    margin-right: 0;
    padding: 2rem 3rem;
  }

  .container__foto--principal {
    padding: 0;
    margin: 1rem 0;
    min-width: 100%;
    max-height: 100%;
    justify-content: center;
  }

  .container__foto--principal img {
    width: 80%;
    height: auto;
  }

  .container__foto--principal img {
    object-fit: contain;
  }

  .container__foto--principal img {
    width: 80%;
    height: auto;
  }

  #img_principal {
    min-width: auto;
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container__caracteristicas {
    padding: 2.5rem 1rem 1.5rem;
    margin: 2rem auto 5rem;
  }

  .sub-titulo {
    padding-bottom: 4rem;
  }

  .descripcion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .container__btns {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
  }

  .btn-accion,
  .btn-prim {
    font-size: 2.1rem;
  }
}

/* Break point 768px */
@media only screen and (max-width: 768px) {
  html {
    font-size: 56.25%;
  }

  .second-row {
    padding: 4rem;
  }

  .container {
    padding: 0 2rem;
  }

  .container__foto--principal {
    margin: 1rem 0;
    min-width: 100%;
    max-height: 100%;
    justify-content: center;
  }

  .container__foto--principal img {
    object-fit: contain;
  }

  .container__foto--principal img {
    width: 90%;
    height: auto;
  }

  #img_principal {
    min-width: auto;
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container__btns {
    padding: 0 2%;
  }

  .btn-accion {
    margin: 1rem 0;
  }
}

/* Break point 480px */
@media only screen and (max-width: 480px) {
  .titulo {
    padding-left: 1rem;
  }

  .sub-titulo {
    padding-left: 1rem;
  }

  #img_principal {
    height: 30rem;
  }

  .container__caracteristicas {
    width: 100%;
  }

  .container__imgs {
    justify-content: space-between;
    padding: 2rem 1rem;
  }

  .descripcion {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;
    padding-left: 1rem;
  }
}

/* Break Point 450px - height */
@media only screen and (max-height: 450px) {
}
