/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

/* Section global */
:root {
  --logo: #03989e;

  --green: #35adb1;

  --darkgreen: #68c1c5;

  /* --black: #00214d; */
  --black: #1c1a1c;

  --orange: #ff5757;

  --light-color: #737373;

  --blackgrey: #000f10;

  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  position: relative;
  padding: 5rem 8% 10rem;
  min-width: 100%;
}

.iframe {
  position: relative;
  padding: 5rem 2% 10rem;
  min-width: 100%;
}

section:nth-child(odd) {
  /* background: #efefef; */
  background: #edf1f4;
}

.hero {
  padding: 10rem 8% 5rem;
}

.sub-heading {
  text-align: center;
  color: var(--black);
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading {
  text-align: center;
  color: var(--green);
  font-size: 3.2rem;
  padding-bottom: 4rem;
}

.btn-prim {
  display: inline-block;
  font-size: 1.8rem;
  color: white;
  background-color: var(--green);
  border-radius: 4px;
  cursor: pointer;
  padding: 0.8rem 3rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-absolute {
  position: absolute;
  bottom: 2rem;
}

.btn-prim:hover {
  background-color: var(--darkgreen);
  box-shadow: 0 5px 15px rgba(205, 242, 244, 0.468);
}

/* Section Hero */
/* Section Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 1.5rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 4.8rem;
  height: 4.8rem;
}

.logo {
  color: var(--logo);
  font-size: 2.8rem;
  font-weight: bolder;
}

.navbar a {
  font-size: 1.8rem;
  border-radius: 4px;
  padding: 0.5rem 1.6rem;
  color: var(--light-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar a.active {
  color: white;
  background: var(--green);
}

.navbar a:hover {
  color: white;
  background: var(--darkgreen);
}

.activ {
  color: white !important;
  background: var(--darkgreen) !important;
}

.icons-navbar {
  position: absolute;
}

.icons i {
  width: 4.5rem;
  height: 4.5rem;
  color: white;
  background: var(--green);
  font-size: 1.7rem;
  line-height: 4.5rem;
  text-align: center;
  margin-left: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.icons i:hover {
  background: var(--darkgreen);
  transform: rotate(360deg);
}

.icons #menu-bars {
  display: none;
}

/* Section Slide Hero */
.home {
  position: relative;
  padding: 10rem 5rem 8.5rem;
  /* padding: 7rem 4rem 0; */
  /* height: 100vh; */
  width: 100%;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;

  padding: 2rem 0 4rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
  flex: 1 1 30rem;
}

.home .home-slider .slide .image {
  flex: 1 1 35rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.home .home-slider .slide .image img {
  width: 100%;
  height: 520px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;

  transition: width 0.3s ease-in-out;
}

.image__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6rem;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(
    to top,
    black,
    rgba(0, 0, 0, 0.261),
    rgba(0, 0, 0, 0.061)
  );
  position: absolute;
  bottom: 0;
}

.image__titulo h4 {
  color: whitesmoke;
  font-weight: 700;
  font-size: 2.1rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.home .home-slider .slide .content span {
  color: var(--green);
  font-size: 2.6rem;
}

.home .home-slider .slide .content h1 {
  color: var(--black);
  font-size: 6rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2.1rem;
  padding: 0.5rem 0 2rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active {
  background: var(--green);
}

.arrow {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.arrow i {
  position: absolute;
  bottom: 0;
  font-size: 6.8rem;
  color: var(--logo);

  animation: infinite alternate dowup 1s ease-in-out;
}

@keyframes dowup {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 3px;
  }
  50% {
    bottom: 6px;
  }
  75% {
    bottom: 9px;
  }
  100% {
    bottom: 12px;
  }
}

.fd-cr {
  max-width: 140rem;
  margin: auto;
}

/* section ventas y rentas */

/* subsección btns filtro de busqueda propiedad */
.btns-filtro {
  position: fixed;
  top: 14rem;
  right: -10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 100px solid #428bca;
  transform: rotate(-90deg);
}

.trapecio {
  width: 250px;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 100px solid #428bca;
}

.btn-filtro {
  padding: 0.8rem 2.4rem;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: white;
  background-color: var(--orange);
  cursor: pointer;

  border: solid 1px transparent;
}

.btn-filtro:hover,
.btn-filtro:active {
  background-color: #ff7979;
}

.btn-filtro.active {
  background-color: #fff;
  color: var(--orange);
  border: solid 1px var(--orange);
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));

  justify-items: center;

  gap: 2.6rem;

  max-width: 118rem;
  margin: auto;

  scroll-behavior: smooth;
}

/* Clase para ocultar la barra de scroll en secc ventas y rentas */
.box-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.box {
  max-width: 41.7rem;
  background: white;
  border-radius: 4px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.box:hover .btn-prim {
  background-color: var(--darkgreen);
  color: white;
}

.img__container {
  width: 100%;
  min-height: 20rem;
  max-height: 20rem;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin-bottom: 3rem;
  overflow: hidden;
}

.img__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
  z-index: 1;

  transition: all 0.3s ease-in-out;
}

.img__overlay:hover {
  background-color: rgba(1, 75, 79, 0.225);
}

.img__container img {
  width: 100%;
  min-height: fit-content;
  min-height: 20rem;
  border-radius: 4px 4px 0 0;
  vertical-align: middle;

  object-fit: fill;
}

.box h2 {
  color: var(--black);
  font-size: 2.6rem;
}

.box h3 {
  color: var(--darkgreen);
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.distribucion {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  margin: 3rem 0;
}

.distribucion__cuarto {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.distribucion__cuarto img {
  width: 26px;
}

.distribucion__cuarto span {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--blackgrey);
}

.cont-btn-prim {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.container__price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container__price img {
  width: 23px;
}

.price {
  font-size: 1.9rem;
  font-weight: 800;
  color: var(--blackgrey);
}

.btn-ventas {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-ventas a {
  color: var(--orange);
  font-size: 2.6rem;
}

/* section servicios */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: top;
}

.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: var(--black);
}

.menu .box-container .box .image .fa-heart:hover {
  background-color: var(--green);
  color: #fff;
}

.menu .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.menu .box-container .box .content .stars {
  padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--green);
}

.menu .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.menu .box-container .box .content p {
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu .box-container .box .content .price {
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}

/* section marketplace */
.review {
  position: relative;
}

.review .slide {
  min-height: 36rem;

  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  position: relative;

  background-color: white;
}

.review .slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #ccc;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 2.8rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .slide .user h3 {
  color: var(--black);
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: var(--green);
}

.review .slide p {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
}

.btn-market {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-market a {
  color: var(--orange);
  font-size: 2.6rem;
}

.btn-market p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* section formulario */
.order {
  padding: 5rem 8% 3rem;
}

.order form {
  max-width: 60rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: white;
  padding: 1.5rem;
  margin: 0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.order form .inputBox .input {
  width: 80%;
}

.order form .inputBox .input label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #edf1f4;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;

  transition: 0.1s all;
}

.input input:focus,
.input textarea:focus {
  border: 0.1rem solid var(--green);
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.order form .btn-prim {
  margin-top: 0;
  margin-left: 5.6rem;
}

/* Section Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.footer-market {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6% 2rem;
}

.footer__container {
  width: 100%;
  max-width: 120rem;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.container__box h2 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.container__box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: var(--light-color);
  text-decoration: none;
}

.container__box a:hover {
  color: var(--darkgreen);
}

.copyright {
  width: 100%;
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.copyright a {
  color: var(--green);
  font-size: 2.4rem;
}

/* loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 240px;
  height: 240px;
}

.loader-container.fade-out {
  top: -110%;
  opacity: 0;
}

/* whatsapp */
.whatsapp {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 50%;
  z-index: 9999;
  animation: shadow-pulse 4s infinite;
}

.whatsapp ion-icon {
  width: 4.6rem;
  height: 4.6rem;
  fill: var(--logo);
}

@keyframes shadow-pulse {
  0% {
    /* box-shadow: 0 0 0 0 #00ff7f; */
    box-shadow: 0 0 0 0 var(--darkgreen);
  }
  25% {
    box-shadow: 0 0 0 5px transparent;
  }
  50% {
    box-shadow: 0 0 0 15px transparent;
  }
  75% {
    box-shadow: 0 0 0 25px transparent;
  }
  100% {
    box-shadow: 0 0 0 35px transparent;
  }
}

/* scroll Top/Up Button */
.scroll-top {
  z-index: 9999;
  height: 6.4rem;
  width: 6.4rem;
  background-color: var(--orange);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  border-radius: 50%;
  /* hover effect default */
  transform: scale(0.9);
  transition: 0.4s ease-in-out all;
  /* for centering the icon */
  /* display: flex; */
  align-items: center;
  justify-content: center;

  display: none;
}

.scroll-top svg {
  width: 50%;
  color: #efebfa;
  pointer-events: none;
}

.scroll-top:active {
  transform: scale(1);
  box-shadow: 0px 0px 20px rgba(255, 87, 87, 0.286);
}

/* scroll Top/Up Button */
.scroll-rigth {
  position: absolute;
  bottom: 46%;
  right: 2rem;
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
  z-index: 999;
  /* hover effect default */
  transform: scale(0.9);
  transition: 0.4s ease-in-out all;
  /* for centering the icon */
  display: none;
  align-items: center;
  justify-content: center;
}

.scroll-rigth svg {
  transform: rotate(90deg);
  width: 50%;
  color: #efebfa;
  pointer-events: none;
}

.scroll-rigth:active {
  transform: scale(1);
  box-shadow: 0px 0px 20px rgba(255, 87, 87, 0.286);
}

/* media queries  */
/* Break point 1024px */
@media only screen and (max-width: 1024px) {
  .home .home-slider .slide .image img {
    width: 100%;
    height: 500px;
  }

  .fd-cr {
    flex-direction: column-reverse;
  }
}

/* Break point 991px -> Auxiliar*/
@media only screen and (max-width: 991px) {
  .home {
    padding: 10rem 3rem 5rem;
  }

  header {
    padding: 1.5rem 2rem;
  }

  /* section {
    padding: 2rem 6%;
  } */
}

/* Break point 825px -> Auxiliar*/
@media only screen and (max-width: 830px) {
  html {
    font-size: 62.5%;
  }

  header .icons-navbar #menu-bars {
    display: inline-block;
  }

  .icons-navbar {
    position: relative;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar {
    display: inline;
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
    background: #dde5eb;
    border: none;
  }

  #search-form #search-box {
    width: 70%;
    margin: 0 1rem;
  }

  .h1-hidden {
    display: none;
  }

  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }
}

/* Break point 768px */
@media only screen and (max-width: 768px) {
  section {
    min-width: 100%;
  }

  .home {
    padding: 10rem 3rem 5rem;
  }

  .home .home-slider .slide {
    flex-direction: column;
    gap: 2rem;
  }

  .home .home-slider .slide .image img {
    width: 100%;
    height: 100%;
  }

  .dishes .box-container .box span {
    font-size: 2.8rem;
  }

  .btn-prim {
    padding: 1rem 4rem;
  }

  .about .row .image-about img {
    max-width: 360px;
    width: 80%;
  }

  .footer__container {
    flex-direction: column;
  }
}

/* Break point 480px */
@media only screen and (max-width: 480px) {
  .home .home-slider .slide .content h1 {
    font-size: 3.6rem;
  }

  .home .home-slider .slide .content span {
    font-size: 2.6rem;
  }

  .home .home-slider .slide .image img {
    width: 100%;
    /* height: 360px; */
  }

  .home .home-slider .slide .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 1.5rem;
    margin: 3rem;

    flex: 1 1 25rem;
  }

  .order form .btn-prim {
    margin-top: 0;
    margin-left: 0;
  }

  /* .scroll-rigth {
    display: flex;
  } */

  .iframe iframe {
    height: 600px;
  }

  .footer .box-container {
    margin: 5rem 1.5rem;
  }

  /* .box-container {
    position: relative;
    display: flex;
    overflow-x: scroll;
  } */

  .box {
    /* max-width: 41.7rem; */
    min-width: 100%;
    background: white;
    border-radius: 4px;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: var(--box-shadow);
    position: relative;
    /* overflow: hidden; */
    text-align: center;
  }
}

/* Break point 450px */
@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .slide .image img {
    width: 100%;
    /* height: 260px; */
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}

/* Break point 320px */
@media only screen and (max-width: 320px) {
  .heading {
    font-size: 2.4rem;
  }

  .about .row .image-about img {
    max-width: 260px;
  }

  .btn-filtro {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }

  .image__titulo h4 {
    font-size: 1.6rem;
    letter-spacing: 1.4px;
  }
}

/* Página Finder */
.btn-regresar a {
  font-size: 2.8rem;
  color: var(--orange);
}
