/** @format */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

/* Section global */
:root {
  --logo: #025e63;
  --green: #03bcc6;
  --black: #192a56;
  --orange: #ff8217;
  --light-color: #666666;
  --darkgreen: #02969e;
  --blackgrey: #475578;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: none;
  transition: all 0.5s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 5rem 8% 10rem;
  min-width: 100vw;
}

section:nth-child(odd) {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: var(--black);
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading {
  text-align: center;
  color: var(--green);
  font-size: 3.2rem;
  padding-bottom: 2rem;
}

.btn-prim {
  display: inline-block;
  font-size: 1.8rem;
  color: white;
  background-color: var(--green);
  border-radius: 4px;
  cursor: pointer;
  padding: 0.8rem 3rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn-prim:hover {
  background-color: var(--darkgreen);
  box-shadow: 0 5px 15px rgba(205, 242, 244, 0.468);
}

/* Section Hero */
/* Section Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 1.5rem 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 4.8rem;
}

.logo {
  color: var(--logo);
  font-size: 2.8rem;
  font-weight: bolder;
}

.navbar a {
  font-size: 1.8rem;
  border-radius: 4px;
  padding: 0.5rem 1.6rem;
  color: var(--light-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar a.active {
  color: white;
  background: var(--green);
}

.navbar a:hover {
  color: white;
  background: var(--darkgreen);
}

.icons-navbar {
  position: absolute;
}

.icons i {
  width: 4.5rem;
  height: 4.5rem;
  color: white;
  background: var(--green);
  font-size: 1.7rem;
  line-height: 4.5rem;
  text-align: center;
  margin-left: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.icons i:hover {
  background: var(--darkgreen);
  transform: rotate(360deg);
}

.icons #menu-bars {
  display: none;
}

/* Section Slide Hero */
.home {
  position: relative;
  padding: 10rem 5rem 8.5rem;
  /* padding: 7rem 4rem 0; */
  /* height: 100vh; */
  width: 100vw;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-slider .slide .image img {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;

  transition: width 0.3s ease-in-out;
}

.home .home-slider .slide .content span {
  color: var(--green);
  font-size: 2.6rem;
}

.home .home-slider .slide .content h1 {
  color: var(--black);
  font-size: 6rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 0.5rem 0 2rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active {
  background: var(--green);
}

/* section ventas y rentas */
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2.6rem;
}

.box {
  background: white;
  border-radius: 4px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.box:hover .btn-prim {
  background-color: var(--darkgreen);
  color: white;
}

.img__container {
  width: 100%;
  min-height: 20rem;
  max-height: 20rem;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin-bottom: 3rem;
  overflow: hidden;
}

.img__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
  z-index: 1;

  transition: all 0.3s ease-in-out;
}

.img__overlay:hover {
  background-color: rgba(1, 75, 79, 0.225);
}

.img__container img {
  width: 100%;
  min-height: fit-content;
  border-radius: 4px 4px 0 0;
  vertical-align: middle;

  object-fit: fill;
}

.box h2 {
  color: var(--black);
  font-size: 2.6rem;
}

.box h3 {
  color: var(--darkgreen);
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.distribucion {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  margin: 3rem 0;
}

.distribucion__cuarto {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.distribucion__cuarto img {
  width: 26px;
}

.distribucion__cuarto span {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--blackgrey);
}

.cont-btn-prim {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.container__price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container__price img {
  width: 23px;
}

.price {
  font-size: 1.9rem;
  font-weight: 800;
  color: var(--blackgrey);
}

/* section servicios */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: top;
}

.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: var(--black);
}

.menu .box-container .box .image .fa-heart:hover {
  background-color: var(--green);
  color: #fff;
}

.menu .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.menu .box-container .box .content .stars {
  padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--green);
}

.menu .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.menu .box-container .box .content p {
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu .box-container .box .content .price {
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}

.review .slide {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}

.review .slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  font-size: 2rem;
  color: #ccc;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 2rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .slide .user h3 {
  color: var(--black);
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: var(--green);
}

.review .slide p {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
}

.order form {
  max-width: 60rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.order form .inputBox .input {
  width: 80%;
}

.order form .inputBox .input label {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--green);
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.order form .btn-prim {
  margin-top: 0;
  margin-left: 5.6rem;
}

.registro {
  display: none;
}

.registro.activo {
  display: block;
}

.exito {
  display: none;
  height: 100%;
  font-size: 1.6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.exito.activo {
  display: flex;
  font-size: 2rem;
  background: #fff;
  color: var(--black);
}

.exito svg {
  width: 50px;
  height: 50px;
  color: var(--primario);
}

/* Section Footer */
.footer {
  padding: 6rem 6% 2rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
  margin: 5rem 0;
}

.container__box h2 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.container__box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: var(--light-color);
  text-decoration: none;
}

.container__box a:hover {
  color: var(--darkgreen);
}

.copyright {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.copyright a {
  color: var(--green);
  font-size: 2.4rem;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: var(--logo);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 40%;
}

.loader-container.fade-out {
  top: -110%;
  opacity: 0;
}

/* media queries  */
/* Break point 1024px */
@media only screen and (max-width: 1024px) {
  .home .home-slider .slide .image img {
    width: 500px;
    height: 500px;
  }
}

/* Break point 991px -> Auxiliar*/
@media only screen and (max-width: 991px) {
  .home {
    padding: 10rem 3rem 5rem;
  }

  header {
    padding: 1.5rem 2rem;
  }

  /* section {
    padding: 2rem 6%;
  } */
}

/* Break point 825px -> Auxiliar*/
@media only screen and (max-width: 830px) {
  html {
    font-size: 62.5%;
  }

  header .icons-navbar #menu-bars {
    display: inline-block;
  }

  .icons-navbar {
    position: relative;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar {
    display: inline;
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

  #search-form #search-box {
    width: 70%;
    margin: 0 1rem;
  }

  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }
}

/* Break point 768px */
@media only screen and (max-width: 768px) {
  section {
    min-width: 100vw;
  }

  .home {
    padding: 10rem 3rem 5rem;
  }

  .home .home-slider .slide .image img {
    width: 440px;
    height: 440px;
  }

  .dishes .box-container .box span {
    font-size: 2.8rem;
  }

  .btn-prim {
    padding: 1rem 4rem;
  }

  .about .row .image-about img {
    max-width: 360px;
    width: 80%;
  }

  .footer .box-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;
    margin: 5rem 1rem;
  }
}

/* Break point 480px */
@media only screen and (max-width: 480px) {
  .home .home-slider .slide .image img {
    width: 360px;
    height: 360px;
  }

  .home .home-slider .slide .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    margin: 3rem;
  }

  .home .home-slider .slide .content span {
    font-size: 3.5rem;
  }

  .order form .btn-prim {
    margin-top: 0;
    margin-left: 0;
  }

  .footer .box-container {
    margin: 5rem 1.5rem;
  }
}

/* Break point 450px */
@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .slide .image img {
    width: 260px;
    height: 260px;
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}

/* Break point 320px */
@media only screen and (max-width: 320px) {
  .about .row .image-about img {
    max-width: 260px;
  }
}
